body{
    background-color: #d2d2c1;
    background-image: url('images/background.png');
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

#main{
    width: 900px;
}

#menu{
    background: #c5c5b2;
    padding: 18px;
}

#content{
    background: #e8e8d9;
    padding: 10px;
}

#footer{
    text-align: center;
}

a{
    color: #4b566a;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

h1{
    color: #828271;
    font-size: 1.2em;
}

.img-campaign{
    border: 10px solid #c3c3ae;
}